fastapi
uvicorn
pydantic
python-dotenv
pymongo[srv]
bcrypt
python-jose
requests
langgraph
langchain
langchain-core
google-genai
langchain-huggingface
aiohttp
asyncio
fastapi-mail
pyasn1
pyasn1_modules
pydantic-settings